html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

.clearfix::before,
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

a,
p {
    text-decoration: none;
    font-family: 'Crimson Text', serif;
    font-size: 1.2em;
    color: #111;
    /*   color: #B24904;   point color: 111*/
}

font {
    font-family: 'Crimson Text', serif;
    /*서브 글씨*/
    font-family: 'Wix Madefor Display', sans-serif;
    /*굵은 메인 글씨 600, 800*/
}

#logWrap, #joinWrap{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background: #E3EDF2;
}

.backTomain{
    width: 20px;
    height: 20px;
    font-size: 1em;
    font-family: 'Crimson Text', serif;
    position: absolute;
    right: 2.5%; top: 2.5%;
    /* background: blue; */
    z-index: 150;
}

#logForm, #joinForm{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 48.5%; left: 50%;
    transform: translate(-50%,-50%);
    border-top-left-radius: 20%;
    background: rgb(110, 175, 173, 1);
    box-shadow: 10px 10px 15px -10px gray;
    
}

#logForm .logImg, #joinForm .joinImg{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20%;
    background-image: url(../images/01.jpg);
    position: absolute;
    overflow: hidden;
    z-index: 25;
}

#logForm .logImg img, #joinForm .joinImg img{
    object-fit: cover;
    width: 100%;
    height: 150%;
    position: absolute;
    top: -25%;
    opacity: 0.5;
}
.logBox, .joinBox{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}

.logTitle, .joinTitle {
    width: 200px;
    height: 80px;
    /* background: green; */
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 13.5%;
}
.logTitle p, .joinTitle p{
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 800;
    font-size: 3em;
    text-align: center;
}

.logCon, .joinCon{
    width: 400px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 3.5%;
    display: grid;
    align-self: flex-start;
    justify-items: center;   
    align-items: center;
    background: rgba(255,255,255,0.5);
}

.logBtn, .joinBtn{
    width: 400px;
    height: 50px;
    margin: 0 auto;
    /* background: lightblue; */
}

.logCon input, .joinCon input{
    height: 20px;
    border: none;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

.logBtn, .joinBtn{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}

.logBtn input, .joinBtn input{
    border: none;
    width: 60px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Wix Madefor Display', sans-serif;
    outline: none;
    cursor: pointer;
}

/* login join 하단 글귀 */
.welcomeLog{
    width: 670px;
    height: 80px;
    /* background: purple; */
    position: absolute;
    top: 84%; left: 50%;
    transform: translate(-50%,-50%);
}
.welcomeLog p{
    font-size: 1em;
    line-height: 1.3em;
    /* font-weight: bold; */
}